<div class="col-xs-12 col-sm-3 col-md-2 component" data-component="contacts">
        <ul>
            <li class="active">
                <input type="checkbox" name="contactslist" id="contactslist" checked>
                <label for="contactslist" class="icon-users">Meine Kontakte</label>
                <div class="content">
                    <ul>


                    </ul>

                    <a href="05a_change_contacts.html" class="change-contacts button" type="submit">Kontakte bearbeiten</a>
                </div>
            </li>
        </ul>



</div>
