<div class="col-xs-12 col-sm-3 col-md-2 component" data-component="month">
    <input type="text" id="inputInvisibleThis">
    <input type="text" id="inputInvisibleNext">
    <div class="inner" id="pikaContainerThisMonth">
    </div>
    <div class="inner" id="pikaContainerNextMonth">
    </div>

</div>
