<div class="col-xs-12 col-sm-3 component" data-component="aside-nav">

    <a href="03_new.html" class="icon-calendar">Neues Event</a>
    <a href="05_profile.html" class="icon-user">Mein Konto</a>
</div>