<div class="col-xs-12 col-sm-3 component" data-component="aside-nav">
    <ul>
        <li><a href="05_profile.html">Mein Konto</a></li>
        <li><a href="03_new.html">Neues Event</a></li>
    </ul>
</div>