<div class="col-xs-12 col-sm-3 col-md-2 component" data-component="aside-nav">

    <a href="03_new.html" class="icon-plus">Neues Event</a>
    <a href="02_overview.html" class="icon-calendar">Meine Events</a>
    <a href="05_profile.html" class="icon-user">Mein Konto</a>
</div>