<div class="col-xs-12 col-sm-9 col-md-10 component" data-component="change_contacts">
    <div class="col-xs-12 col-sm-3 contacts" >
        <h1>meine Kontakte</h1>

        {{!--
        <div class="contact-entry ">
            <h2>Karl Tester</h2>
            <div class="description">
                <a class="icon-cross"></a>
            </div>
        </div>            *
        --}}

    </div>
    <div class="col-xs-12 col-sm-3 new_contacts">
        <h1>Kontakte hinzufügen</h1>
        <form id="findContact" class="search_user">
            <label>Vorname</label>
            <input type="text" name="firstname" id="firstname" value="">
            <label>Nachname</label>
            <input type="text" name="lastname" id="lastname" value="">
            <button type="submit" id="search">Suchen</button>


            <span class="errormessage noResults">Keine Ergebnisse gefunden</span>


        </form>

        <div class="contact-entry ">
            <h2>Testeintrag - später das ganze div hier löschen</h2>
            <div class="description">
                <a class="icon-plus"></a>
            </div>
        </div>
    </div>
</div>
