<div class="col-xs-12 col-sm-9 col-md-10 component" data-component="change_contacts">
    <div class="col-xs-12 col-sm-3">
        <h1>meine Kontakte</h1>
        <div class="contact-entry ">
            <h2>Karl Tester</h2>
            <div class="description">
                <span>E-Mail: karl.tester@test.de</span>
                <a class="icon-cross"></a>
            </div>
        </div>
        <div class="contact-entry">
            <h2>Max Mustermann</h2>
            <div class="description">
                <span>E-Mail: max-mustermann@test.de</span>
                <a class="icon-cross"></a>
            </div>
        </div>
        <div class="contact-entry">
            <h2>Peter Silie</h2>
            <div class="description">
                <span>E-Mail: peter.silie@test.de</span>
                <a class="icon-cross"></a>
            </div>
        </div>
            <div class="contact-entry">
            <h2>Heinz Ellmann</h2>
            <div class="description">
                <span>E-Mail: heinz.ellmann@test.de</span>
                <a class="icon-cross"></a>
            </div>
        </div>
        <div class="contact-entry">
            <h2>Wilma Bier</h2>
            <div class="description">
                <span>E-Mail: wilme.bier@test.de</span>
                <a class="icon-cross"></a>
            </div>
        </div>
        <div class="contact-entry">
            <h2>Franz Brandwein</h2>
            <div class="description">
                <span>E-Mail: franz.brandwein@test.de</span>
                <a class="icon-cross"></a>
            </div>
        </div><div class="contact-entry">
            <h2>Anne Ohren</h2>
            <div class="description">
                <span>E-Mail: anne.ohren@test.de</span>
                <a class="icon-cross"></a>
            </div>
        </div>
    </div>
</div>
