<div class="col-xs-12 col-sm-9 col-md-10 component" data-component="change_contacts">
    <div class="col-xs-12 col-sm-6">
        <h1>meine Kontakte</h1>
        <div class="contact-entry">
            <div class="title col-xs-12 col-sm-8"><h2>Karl Tester</h2></div>
            <div class="description col-xs-12 col-sm-8">
                <span>E-Mail: karl.tester@test.de</span>
            </div>
        </div>
        <div class="contact-entry">
            <div class="title col-xs-12 col-sm-8"><h2>Max Mustermann</h2></div>
            <div class="description col-xs-12 col-sm-8">
                <span>E-Mail: max-mustermann@test.de</span>
            </div>
        </div>
        <div class="contact-entry">
            <div class="title col-xs-12 col-sm-8"><h2>Peter Silie</h2></div>
            <div class="description col-xs-12 col-sm-8">
                <span>E-Mail: peter.silie@test.de</span>
            </div>
        </div>
            <div class="contact-entry">
            <div class="title col-xs-12 col-sm-8"><h2>Heinz Ellmann</h2></div>
            <div class="description col-xs-12 col-sm-8">
                <span>E-Mail: karl.tester@test.de</span>
            </div>
        </div>
        <div class="contact-entry">
            <div class="title col-xs-12 col-sm-8"><h2>Karl Tester</h2></div>
            <div class="description col-xs-12 col-sm-8">
                <span>E-Mail: karl.tester@test.de</span>
            </div>
        </div>
    </div>
</div>
