<div class="col-xs-12 col-sm-9 col-md-10 component" data-component="change_contacts">
    <div class="col-xs-12 col-sm-3 contacts" >
        <h1>meine Kontakte</h1>
        <div class="contact-entry ">
            <h2>Karl Tester</h2>
            <div class="description">
                <a class="icon-cross"></a>
            </div>
        </div>
        <div class="contact-entry">
            <h2>Max Mustermann</h2>
            <div class="description">
                <a class="icon-cross"></a>
            </div>
        </div>
        <div class="contact-entry">
            <h2>Peter Silie</h2>
            <div class="description">
                <a class="icon-cross"></a>
            </div>
        </div>
            <div class="contact-entry">
            <h2>Heinz Ellmann</h2>
            <div class="description">
                <a class="icon-cross"></a>
            </div>
        </div>
        <div class="contact-entry">
            <h2>Wilma Bier</h2>
            <div class="description">
                <a class="icon-cross"></a>
            </div>
        </div>
        <div class="contact-entry">
            <h2>Franz Brandwein</h2>
            <div class="description">
                <a class="icon-cross"></a>
            </div>
        </div><div class="contact-entry">
            <h2>Anne Ohren</h2>
            <div class="description">
                <a class="icon-cross"></a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 new_contacts">
        <h1>Kontakte hinzufügen</h1>
        <div class="search_user">
            <label>Vorname</label>
            <input type="firstname" name="vorname" id="firstname" value="">
            <label>Nachname</label>
            <input type="lastname" name="nachname" id="lastname" value="">
            <button type="submit" id="search">Suchen</button>
        </div>
    </div>
</div>
