<div class="col-xs-12 col-sm-3 col-md-2 component" data-component="contacts">
        <ul>
            <li class="active">
                <input type="checkbox" name="contactslist" id="contactslist" checked>
                <label for="contactslist" class="icon-users">Meine Kontakte</label>
                <div class="content">
                    <ul>
                        <li>Karl Tester</li>
                        <li class="online">Max Mustermann</li>
                        <li>Peter Silie</li>
                        <li class="">Heinz Ellmann</li>
                        <li class="online">Wilma Bier</li>
                        <li class="online">Franz Brandwein</li>
                        <li class="online">Anne Ohren</li>
                    </ul>
                </div>
            </li>
        </ul>

</div>
