<div class="col-xs-12 col-sm-9 col-md-10 component" data-component="events-overview">
    <div class="col-xs-12 col-sm-6">
        <h1>meine Events</h1>

        <a href="04_detail.html" class="event-entry">
            <div class="title col-xs-12 col-sm-8"><h2>Semesterprojekt Präsentation</h2></div>
            <div class="time col-xs-12 col-sm-4 icon-clock">04.12.2015 10:00</div>

            <div class="description col-xs-12 col-sm-8">
                <span>
                    Gruppe5 wird ihr Semesterprojekt - Webanwendung zur selbstorganisieren Eventplanung vorstellen
                </span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <div class="location col-xs-12 col-sm-4 icon-location2">
                Mönkhofer Weg 239, 23562 Lübeck
            </div>
        </a>

        <a href="04_detail.html" class="event-entry">
            <div class="title col-xs-12 col-sm-8"><h2>Babybier</h2></div>
            <div class="time col-xs-12 col-sm-4 icon-clock">18.12.2015 10:00</div>

            <div class="description col-xs-12 col-sm-8">
                <span>
                    Denn esse est percipi - Sein ist wahrgenommen werden. Und weil Sie nun schon die Güte haben, mich einige weitere Sätze lang zu begleiten, möchte ich diese Gelegenheit nutzen, Ihnen nicht nur als Lückenfüller zu dienen, sondern auf etwas hinzuweisen, das es ebenso verdient wahrgenommen zu werden.
                </span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <div class="location col-xs-12 col-sm-4 icon-location2">Teststraße 55, 23562 Niendorf-Stecknitz</div>
        </a>


    </div>

    <div class="col-xs-12 col-sm-6">
        <h1>Events meiner Kontakte</h1>

        <a href="04_detail-contact.html" class="event-entry">
            <div class="title col-xs-12 col-sm-8"><h2>Lorem Ipsum</h2></div>
            <div class="time col-xs-12 col-sm-4 icon-clock">04.12.2015 10:00</div>

            <div class="description col-xs-12 col-sm-8">
                <span>
                    Hier steht nicht viel
                </span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <div class="location col-xs-12 col-sm-4 icon-location2">Teststraße 55, 23562 Niendorf-Stecknitz</div>
        </a>

        <a href="04_detail-contact.html" class="event-entry">
            <div class="title col-xs-12 col-sm-8"><h2>Lorem Ipsum</h2></div>
            <div class="time col-xs-12 col-sm-4 icon-clock">04.12.2015 10:00</div>

            <div class="description col-xs-12 col-sm-8">
                <span>
                    Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient monte nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                    Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                </span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <div class="location col-xs-12 col-sm-4 icon-location2">Teststraße 55, 23562 Niendorf-Stecknitz</div>
        </a>
        <a href="04_detail-contact.html" class="event-entry">
            <div class="title col-xs-12 col-sm-8"><h2>Lorem Ipsum</h2></div>
            <div class="time col-xs-12 col-sm-4 icon-clock">04.12.2015 10:00</div>

            <div class="description col-xs-12 col-sm-8">
                <span>
                    Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient monte nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                    Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                </span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <div class="location col-xs-12 col-sm-4 icon-location2">Teststraße 55, 23562 Niendorf-Stecknitz</div>
        </a>

        <a href="04_detail-contact.html" class="event-entry">
            <div class="title col-xs-12 col-sm-8"><h2>Lorem Ipsum</h2></div>
            <div class="time col-xs-12 col-sm-4 icon-clock">14.12.2015 10:00</div>

            <div class="description col-xs-12 col-sm-8">
                <span>
                    Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient monte nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                    Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                </span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <div class="location col-xs-12 col-sm-4 icon-location2">Teststraße 55, 23562 Niendorf-Stecknitz</div>
        </a>

        <a href="04_detail-contact.html" class="event-entry">
            <div class="title col-xs-12 col-sm-8"><h2>Lorem Ipsum</h2></div>
            <div class="time col-xs-12 col-sm-4 icon-clock">18.12.2015 10:00</div>

            <div class="description col-xs-12 col-sm-8">
                <span>
                    Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient monte nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                    Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                </span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <div class="location col-xs-12 col-sm-4 icon-location2">Teststraße 55, 23562 Niendorf-Stecknitz</div>
        </a>

    </div>
</div>