<div class="col-xs-12 col-sm-9 component" data-component="event-detail">
    <div class="col-xs-12 col-sm-6">Event Detail  Bereich<br> links</div>
    <div class="col-xs-12 col-sm-6">rechts</div>
    <div class="col-xs-12">unten</div>
</div>