<div class="col-xs-12 col-sm-9 col-md-10 component" data-component="event-detail">

    <div class="col-xs-12 event">
        <h3>Event von User Gruppe5</h3>
        <h1>Semesterprojekt Präsentation</h1>
    </div>

    <div class="col-xs-12 col-sm-6 event">
        <fieldset>
            <legend>Beschreibung</legend>
            <p>Überall dieselbe alte Leier. Das Layout ist fertig, der Text lässt auf sich warten. Damit das Layout
                nun nicht nackt im Raume steht und sich klein und leer vorkommt, springe ich ein: der Blindtext. Genau
                zu diesem Zwecke erschaffen,
                immer im Schatten meines großen Bruders »Lorem Ipsum«, freue ich mich jedes Mal, wenn Sie ein paar Zeilen lesen. </p>
        </fieldset>
        <fieldset>
            <legend>Teilnehmer</legend>

            <table class="attendees">
                <tr>
                    <td><h2>Name</h2></td>
                    <td><h2>Kümmert sich um:</h2></td>
                </tr>
                <tr>
                    <td>Peter Silie</td>
                    <td>Tomaten</td>
                </tr>
                <tr>
                    <td>Franz Brandwein</td>
                    <td>Brot</td>
                </tr>
            </table>
        </fieldset>

    </div>
    <div class="col-xs-12 col-sm-6 event">
        <fieldset>
            <legend>Datum und Ort</legend>
            <p class="icon-clock">04.12.2015</p>
            <p class="icon-location2">Mönkhofer Weg 239, 23562 Lübeck </p>
            <img src="assets/img/adresse-fh.png" alt="Bild von Karte" />
        </fieldset>

        <form>
            <button>bearbeiten</button>
            <button>löschen</button>
        </form>
    </div>
</div>