<div class="col-xs-12 col-sm-9 component" data-component="events-overview">
    <div class="col-xs-12 col-sm-6">
        <h1>meine Events</h1>
        <p></p>
        <p></p>
    </div>

    <div class="col-xs-12 col-sm-6">
        <h1>Events meiner Freunde</h1>
        <p></p>
        <p></p>

    </div>
</div>