<div class="col-xs-12 col-sm-9 col-md-10 component" data-component="event-detail">

    <div class="col-xs-12 event">
        <h3 id="Owner">lädt ...</h3>

        <h1 id="Title">lädt ...</h1>

        <span class="errormessage event">Dieses Event kann von dir nicht gelöscht werden</span>
    </div>

    <div class="col-xs-12 col-sm-6 event">
        <fieldset>
            <legend>Beschreibung</legend>
            <p id="Description"> - Beschreibung nicht verfügbar -</p>
        </fieldset>
        <fieldset>
            <legend>Teilnehmer</legend>

            <table class="attendees">
                <tr>
                    <td><h2>Name</h2></td>
                    <td><h2>Kümmert sich um:</h2></td>
                </tr>

            </table>
        </fieldset>

        <fieldset class="attendEvent">
            <legend>Teilnehmen</legend>

            <form id="attend">
                <span>Möchtest du etwas zu diesem Event beisteuern?</span>

                <div class="item-list">
                    <!-- es muss immer die klasse .item haben und sich in einem container mit der klasse.item-list befinden -->
                    <div class="item hide">
                        <input type="checkbox" name="c1" id="c1" value="">
                        <label for="l1" id="11"></label>
                    </div>
                </div>

                <input type="submit" class="button attend" value="Ich nehme teil">
            </form>

            <span class="message attend">Du nimmst teil!</span>
        </fieldset>

    </div>
    <div class="col-xs-12 col-sm-6 event">
        <fieldset>
            <legend>Datum und Ort</legend>
            <p class="icon-clock">
                <span id="DateTime"></span> -
                <span id="timeInfo"></span>
            </p>
            <p id="Address" class="icon-location2"></p>

            <div id="Map" style="height: 400px; width: 400px;"></div>


        </fieldset>

        <form>
            <button id="edit">bearbeiten</button>
            <button id="delete">löschen</button>
        </form>
    </div>
</div>

<script type="text/javascript" src="js/event-detail.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMapDetail" async defer></script>
