<div class="col-xs-12 col-sm-9 col-md-10 component" data-component="event-detail">

    <div class="col-xs-12 event">
        <h3 id="Owner">lädt ...</h3>

        <h1 id="Title">lädt ...</h1>

        <span class="errormessage event">Dieses Event kann von dir nicht gelöscht werden</span>
    </div>

    <div class="col-xs-12 col-sm-6 event">
        <fieldset>
            <legend>Beschreibung</legend>
            <p id="Description"> - Beschreibung nicht verfügbar -</p>
        </fieldset>
        <fieldset>
            <legend>Teilnehmer</legend>

            <table class="attendees">
                <tr>
                    <td><h2>Name</h2></td>
                    <td><h2>Kümmert sich um:</h2></td>
                </tr>

            </table>
        </fieldset>

        <fieldset class="attendEvent">
            <legend>Teilnehmen</legend>

            <form id="attend">
                <span>Möchtest du etwas zu diesem Event beisteuern?</span>

                <div class="item-list">
                    <!-- es muss immer die klasse .item haben und sich in einem container mit der klasse.item-list befinden -->
                    <div class="item hide">
                        <input type="checkbox" name="c1" id="c1" value="">
                        <label for="l1" id="11"></label>
                    </div>
                </div>

                <input type="submit" class="button attend" value="Ich nehme teil">
            </form>

            <span class="message attend">Du nimmst teil!</span>
        </fieldset>

    </div>
    <div class="col-xs-12 col-sm-6 event">
        <fieldset>
            <legend>Datum und Ort</legend>
            <p class="icon-clock">
                <span id="DateTime"></span> -
                <span id="timeInfo"></span>
            </p>
            <p id="Address" class="icon-location2"></p>

            <!--<iframe id="Map"-->
                    <!--src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2354.2889670904624!2d10.697072951466312!3d53.837724145394205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b2091092f60c01%3A0xd5b857864e8ef7ee!2sM%C3%B6nkhofer+Weg+10%2C+23562+L%C3%BCbeck!5e0!3m2!1sde!2sde!4v1451472809117"-->
                    <!--width="400" height="400" frameborder="0" style="border:0" allowfullscreen>-->

            <!--</iframe>-->

            <!--<script async defer-->
                    <!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyfZzXuytuqlyjthhAl-8K7dCknoPsNOI&callback=initMap">-->
            <!--</script>-->

            <div id="Map" style="height: 400px; width: 400px"></div>
            <!--<script type="text/javascript">-->

                <!--var map;-->
                <!--function initMap() {-->
                    <!--var myLatLng = {lat: -34.397, lng: 150.644};-->

                    <!--map = new google.maps.Map(document.getElementById('Map'), {-->
                        <!--center: {lat: -34.397, lng: 150.644},-->
                        <!--zoom: 7-->
                    <!--});-->
                    <!--var marker = new google.maps.Marker({-->
                        <!--position: myLatLng,-->
                        <!--map: map,-->
                        <!--title: 'Das Event'-->
                    <!--});-->
                <!--}-->

            <!--</script>-->

        </fieldset>

        <form>
            <button id="edit">bearbeiten</button>
            <button id="delete">löschen</button>
        </form>
    </div>
</div>

<script type="text/javascript" src="js/event-detail.js"></script>
