<div class="row component" data-component="footer">
    <div class="col-xs-12">
        <ul>
            <li>Impressum</li>
            <li>Kontakt</li>
            <li>Datenschutz</li>
            <li>AGB</li>
        </ul>
    </div>
</div>