<div class="col-xs-12 component {{class}}" data-component="footer">

    <div class="col-xs-12 col-sm-3">
        <div class="inner">
            <a href="06_impressum.html">Impressum</a>
            <a href="07_kontakt.html">Kontakt</a>
            <a href="#">Datenschutz</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="inner">
            <a href="#" class="arrow down">Down</a>
            <a href="#">AGB</a>
            <a class="highlight" href="00_documentation.html">Dokumentation</a>
            <a href="#">RoC</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="inner">
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
            <a href="#">Lorem Ipsum</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="inner">
            <a href="#">Facebook</a>
            <a href="#">Google+</a>
            <a href="#">Lorem Ipsum</a>
        </div>
    </div>
</div>
