<div class="col-xs-12 component {{class}}" data-component="footer">

    <div class="col-xs-12 col-sm-3">
    <a href="#">Impressum</a>
    <a href="#">Kontakt</a>
    <a href="#">Datenschutz</a>
    </div>
    <div class="col-xs-12 col-sm-3">
    <a href="#" class="arrow down">Down</a>
    <a href="#">AGB</a>
    <a class="highlight" href="00_documentation.html">Dokumentation</a>
    <a href="#">Lorem Ipsum</a>
    </div>
    <div class="col-xs-12 col-sm-3">
        <a href="#">Lorem Ipsum</a>
        <a href="#">Lorem Ipsum</a>
        <a href="#">Lorem Ipsum</a>
    </div>
    <div class="col-xs-12 col-sm-3">
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">Instagram</a>
    </div>
</div>
