<div class="col-xs-12 col-sm-3 component" data-component="friends">
        <ul>
            <li class="active">
                <input type="checkbox" name="friendslist" id="friendslist">
                <label for="friendslist" class="icon-users">Meine Freunde</label>
                <article class="content">
                    <ul>
                        <li>Karl Tester</li>
                        <li class="online">Max Mustermann</li>
                        <li>Peter Silie</li>
                        <li class="">Heinz Ellmann</li>
                        <li class="online">Wilma Bier</li>
                        <li class="online">Franz Brandwein</li>
                        <li class="online">Anne Ohren</li>
                    </ul>
                </article>
            </li>
        </ul>

</div>