<div class="col-xs-12 col-sm-3 component" data-component="friends">
        <ul>
            <li class="active">
                <input type="radio" name="tabs" id="tab-1" checked>
                <label for="tab-1" class="btn-new">Meine Freunde</label>
                <article class="content">
                    <ul>
                        <li>Karl Tester</li>
                        <li>Max Mustermann</li>
                        <li>Peter Silie</li>
                        <li>Heinz Ellmann</li>
                        <li>Anne Ohren</li>
                    </ul>
                </article>
            </li>
        </ul>

</div>