<header class="component container-fluid" data-component="header">
    <div class="col-xs-12 col-sm-6">
        <a href="index.html" class="logo">
            <div class="arrow"></div>
            <div class="star"></div>
        </a>

        <div class="name">Comeet</div>
        <div class="slogan">come and meet</div>
    </div>

    <div class="login col-xs-12 col-sm-6">
        <form>
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Passwort">
            <a class="button login" href="02_overview.html">Login</a>
            <a class="button register" href="01_register.html">Registrieren</a>
            <span class="message">Username oder Passwort falsch, bitte erneut versuchen</span>
        </form>

    </div>

</header>



