<header class="component" data-component="header">
    <div class="col-xs-12 col-sm-9">
        <div class="logo">
            <div class="arrow"></div>
            <div class="star"></div>
        </div>

        <div class="name">Comeet</div>
        <div class="slogan">come and meet</div>
    </div>

    <div class="login col-xs-12 col-sm-3">
        <form>
            <fieldset>
                <legend>Login</legend>
                <input type="text" placeholder="Username">
                <input type="text" placeholder="Passwort">

                <a href="01_register.html">Registrieren</a>
            </fieldset>
        </form>

    </div>

</header>



