<header class="component logged-in" data-component="header">
    <div class="col-xs-12 col-sm-10">
        <div class="logo">
            <div class="arrow"></div>
            <div class="star"></div>
        </div>

        <div class="name">Comeet</div>
        <div class="slogan">come and meet</div>
    </div>

    <div class="login col-xs-12 col-sm-2">
        <form>
            <fieldset>
                <span>Hallo User</span>
                <span>abmelden</span>
            </fieldset>
        </form>

    </div>

</header>



