<header class="component logged-in" data-component="header">
    <div class="col-xs-12 col-sm-9">
        <a href="index.html" class="logo">
            <div class="arrow"></div>
            <div class="star"></div>
        </a>

        <div class="name">Comeet</div>
        <div class="slogan">come and meet</div>
    </div>

    <div class="login col-xs-12 col-sm-3">
        <form>
            <span>Hallo <strong>User Gruppe5</strong></span>
            <span><a href="index.html">abmelden</a></span>
        </form>

    </div>

</header>



