<div class="component col-xs-12 col-sm-6 col-sm-offset-1" data-component="impressum">
    <h1>Impressum</h1>
    <p>Anbieterkennzeichnung nach §5 Telemediengesetz<br/>
        Dienstanbieter  Comeet</br>
Geschäftsführer Thomas Krieger Vertreterin Marileen Stamer</br>
</br>
Anschrift  Comeet</br>
Inhaber Torsten Garding</br>
Musterweg 12</br>
08157 Musterstadt</br>
Deutschland</br>
</br>
Registergericht  Amtsgericht Musterstadt</br>
Registernummer</br>
UStID</br>
Email   info@Comeet.de</br>
Telefon</br>
</p>
<h2>Hinweise zum Copyright</h2>
<p>Inhalt, Struktur und Idee dieser Webseiten sind urheberrechtlich geschützt. Die Vervielfältigung von Informationen oder Daten, insbesondere die Verwendung von Texten, Textteilen oder Bildmaterial bedarf der ausdrücklichen vorherigen Zustimmung des Betreibers. Die Erwähnung von Markenzeichen bzw. Markennamen erfolgt in einem rein redaktionell-informativen Sinn. Eine Verletzung dieser Marken und Zeichen ist nicht beabsichtigt.</br>
</br>
Wir distanzieren uns von allen Inhalten der Seiten die durch Links von unserer Seite aus erreicht werden können.</p>
</div>
