<div class="component col-xs-12 col-sm-6 col-sm-offset-1" data-component="impressum">
    <h1>Kontakt</h1>
    <h3>Thomas Krieger</h3>
    <p>thomas.krieger@stud.fh-luebeck.de</p>
    </br>
    <h3>Marileen Stamer</h3>
    <p>marileen.stamer@stud.fh-luebeck.de</p>
    </br>
    <h3>Torsten Garding</h3>
    <p>torsten.garding@stud.fh-luebeck.de</p>
    </br>
