<div class="col-xs-12" data-component="profile">
    <div class="col-xs-12 col-sm-6">
        <h1>Profil bearbeiten

    </div>
    <div class="col-xs-12 col-sm-6">
        <h2>rechte Seite</h2>
    </div>
</div>