<div class="col-xs-12 col-sm-9 col-md-10 component" data-component="profile">
    <h1>Profil</h1>
    <div class="col-xs-12 col-sm-6">
        <label>Benutzername</label>
        <input type="text" name="username" id="username" value="Gruppe5" required>
        <button type="submit">채ndern</button>
        <label>Passwort</label>
        <input type="password" name="passwort" id="passwort" value="*****" required>
        <button type="submit">채ndern</button>
        <label>E-Mail Adresse</label>
        <input type="email" name="email" id="email" value="muster@web.de" required>
        <button type="submit">채ndern</button>
        <label>Anzahl meiner Events</label>
        <span> 7 Events </span>
        <button class="invite" type="submit">Freunde zu Comeet einladen</button>

    </div>
    <div class="col-xs-12 col-sm-6">
        <label>Profilbild</label>
        <img src="#" alt="Profilbild">
        <button type="submit">채ndern</button>
    </div>
</div>
