<div class="col-xs-12 col-sm-offset-1 col-sm-11 component" data-component="register">
    <form class="col-xs-12 col-sm-8" enctype="multipart/form-data" action="new-user.php" method="post">

        <h1>Registrierung</h1>

        <div class="col-xs-12 col-sm-4">
            <label>Benutzername</label>
            <input type="text" name="username" id="username" placeholder="Benutzername" required value="test-username">
            <label>Vorname</label>
            <input type="text" name="firstname" id="firstname" placeholder="Vorname" required value="test-firstname">
            <label>Nachname</label>
            <input type="text" name="lastname" id="lastname" placeholder="Nachname" required value="test-nachname">
            <label>Geburtstag</label>
            <input type="text" name="bday" id="bday" placeholder="Geburtstag" required value="test-geb">
        </div>
        <div class="col-xs-12 col-sm-offset-1 col-sm-4">
            <label>Passwort</label>
            <input type="password" name="passwort" id="passwort" placeholder="Passwort" required value="test-pw">
            <label>Passwort wiederholen</label>
            <input type="password" name="passwortRepeat" id="passwortRepeat" placeholder="Passwort wiederholen"
                   required value="test-pw">
            <label>E-Mail-Adresse</label>
            <input type="email" name="email" id="email" placeholder="E-Mail Adresse" required value="test@test.de">
            <label>E-Mail-Adresse wiederholen</label>
            <input type="email" name="emailRepeat" id="emailRepeat" placeholder="E-Mail Adresse wiederholen" required value="test@test.de">
            <button type="submit" id="register">Registrieren</button>
        </div>
    </form>
</div>
