<header class="component col-xs-12 col-sm-offset-2 col-sm-8" data-component="slider">

    <div id="slider1" class="csslider infinity">
        <input type="radio" name="slides" id="slides_1"/>
        <input type="radio" name="slides" checked="checked" id="slides_2"/>
        <input type="radio" name="slides" id="slides_3"/>
        <input type="radio" name="slides" id="slides_4"/>
        <input type="radio" name="slides" id="slides_5"/>
        <input type="radio" name="slides" id="slides_6"/>
        <ul>
            <li>
                <div id="center">
                    <a href="03_new.html">
                        Erstelle Events in wenigen Minuten und lade Freunde ein
                    </a>
                </div>
            </li>
            <li>
                <img src="assets/img/slider/screen-datum-ort.jpg"/>
                <img src="assets/img/slider/screen-datum-ort1.jpg"/>
            </li>
            <li>
                <div id="bg">
                    <div>
                        <h1>Los gehts &gt;</h1>
                    </div>
                </div>
            </li>
            <li>
                <img src="assets/img/slider/fotolia_69872964.jpg"/>
            </li>
            <li>
                <img src="assets/img/slider/fotolia_81183273.jpg"/>
            </li>
            <li>
                <img src="assets/img/slider/fotolia_83886458.jpg"/>
            </li>


        </ul>
        <div class="arrows">
            <label for="slides_1"></label>
            <label for="slides_2"></label>
            <label for="slides_3"></label>
            <label for="slides_4"></label>
            <label for="slides_5"></label>
            <label for="slides_6"></label>
            <label for="slides_1" class="goto-first"></label>
            <label for="slides_6" class="goto-last"></label>
        </div>
        <div class="navigation">
            <div>
                <label for="slides_1"></label>
                <label for="slides_2"></label>
                <label for="slides_3"></label>
                <label for="slides_4"></label>
                <label for="slides_5"></label>
                <label for="slides_6"></label>
            </div>
        </div>
    </div>
</header>



