<div class="component col-xs-12" data-component="slider">

    <div id="slider1" class="csslider infinity">
        <input type="radio" name="slides" checked="checked" id="slides_1"/>
        <input type="radio" name="slides"  id="slides_2"/>
        <input type="radio" name="slides" id="slides_3"/>
        <input type="radio" name="slides" id="slides_4"/>
        <input type="radio" name="slides" id="slides_5"/>
        <ul>
            <li>
                <div id="center">

                    <a href="01_register.html">
                        Erstelle Events mit wenigen Klicks und lade Freunde ein
                    </a>
                    <img class="" src="assets/img/slider/screen-event-detail.jpg" alt=""/>
                </div>
            </li>
            <li>
                <img src="assets/img/slider/screen-datum-ort.jpg" alt=""/>
                <img src="assets/img/slider/screen-datum-ort1.jpg" alt=""/>
            </li>
            <li>
                <img src="assets/img/slider/fotolia_83886467.jpg" alt=""/>
                <div class="text">
                    <h2>Mal eben eine Grillparty planen?</h2>
                    <span>
                        Kein Problem! Mit Comeet plant ihr jedes Event mit nur wenigen Klicks und könnt direkt eure Kontakte einladen. Außerdem können offene Aufgaben gelistet werden und jeder Kontakt kann sich etwas aussuchen, dass er erledigen will.
                    </span>
                </div>
            </li>
            <li>
                <img class="faded" src="assets/img/slider/screen-events.jpg" alt=""/>
                <div id="bg">
                    <a href="01_register.html">
                        <h1>Los gehts &gt;</h1>
                    </a>
                </div>
            </li>
            <li>
                <h2 id="slider5">Immer alles im Blick, Kontaktanzeige Eventkalender</h2>
                <img src="assets/img/slider/contacts_calender.jpg" alt=""/>
            </li>
        </ul>
        <div class="arrows">
            <label for="slides_1"></label>
            <label for="slides_2"></label>
            <label for="slides_3"></label>
            <label for="slides_4"></label>
            <label for="slides_5"></label>
            <label for="slides_1" class="goto-first"></label>
            <label for="slides_5" class="goto-last"></label>
        </div>
        <div class="navigation">
            <div>
                <label for="slides_1"></label>
                <label for="slides_2"></label>
                <label for="slides_3"></label>
                <label for="slides_4"></label>
                <label for="slides_5"></label>
            </div>
        </div>
    </div>
</div>



