<div class="component col-xs-12" data-component="slider">

    <div id="slider1" class="csslider infinity">
        <input type="radio" name="slides" checked="checked" id="slides_1"/>
        <input type="radio" name="slides"  id="slides_2"/>
        <input type="radio" name="slides" id="slides_3"/>
        <input type="radio" name="slides" id="slides_4"/>
        <ul>
            <li>
                <div id="center">
                    <a href="03_new.html">
                        Erstelle Events in wenigen Minuten und lade Freunde ein
                    </a>
                </div>
            </li>
            <li>
                <img src="assets/img/slider/screen-datum-ort.jpg" alt=""/>
                <img src="assets/img/slider/screen-datum-ort1.jpg" alt=""/>
            </li>
            <li>
                <img src="assets/img/slider/fotolia_83886467.jpg" alt=""/>
                <div class="text">
                    <h2>Lorem ipsum Dolorem</h2>
                    <span>
                        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                        pellentesque eu, pretium quis, sem.
                    </span>
                </div>
            </li>
            <li>
                <img class="faded" src="assets/img/slider/screen-events.jpg" alt=""/>
                <div id="bg">
                    <a href="01_register.html">
                        <h1>Los gehts &gt;</h1>
                    </a>
                </div>
            </li>

        </ul>
        <div class="arrows">
            <label for="slides_1"></label>
            <label for="slides_2"></label>
            <label for="slides_3"></label>
            <label for="slides_4"></label>
            <label for="slides_1" class="goto-first"></label>
            <label for="slides_4" class="goto-last"></label>
        </div>
        <div class="navigation">
            <div>
                <label for="slides_1"></label>
                <label for="slides_2"></label>
                <label for="slides_3"></label>
                <label for="slides_4"></label>
            </div>
        </div>
    </div>
</div>



