{{> "page-head"}}

{{> "header"}}

<main class="container-fluid">

    <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 component" data-component="documentation">

        <h1>Semesterprojekt Eventorganisation</h1>

        <h2>von <strong>Gruppe 5</strong><br> Thomas Krieger, Marileen Stamer und Torsten Garding</h2>

        <h3 id="inhalt"><em>Siehe mitgeliefertes PDF</em></h3>


    </div>
    </div>

    <div class="row">
        {{> "footer"}}
    </div>

</main>

{{> "page-end"}}

