
{{> "page-head"}}

{{> "header"}}

<main  class="container-fluid">

    <div class="row">

        {{> "register"}}

    </div>

    <div class="row">
        {{> "footer"}}
    </div>

</main>

<script  type="text/javascript" src="js/register.js"></script>

{{> "page-end"}}

