
{{> "page-head"}}

{{> "header-logged-in"}}

<main  class="container-fluid">

    <div class="row">

        {{> "aside-nav"}}


        {{> "events-overview"}}


        {{> "contacts"}}
        {{> "month"}}

    </div>

    <div class="row">
        {{> "footer"}}
    </div>

</main>


<script  type="text/javascript" src="js/events-overview.js"></script>

{{> "page-end"}}

