
{{> "page-head"}}

{{> "header"}}

    <main  class="container-fluid">

    <div class="row">
        <div class="col-xs-12">

            <h1>Semesterprojekt</h1>
            <h2>von <br>Marileen Stamer, Thomas Krieger und Torsten Garding</h2>

            <h3>Einleitung</h3>

            <p>Lorem blubber</p>

            <h3>Weitere Dinge</h3>

            <p>Die wir noch sagen wollten</p>

        </div>
    </div>

    <div class="row">
        {{> "footer"}}
    </div>

</main>

{{> "page-end"}}

