{{> "page-head"}}

{{> "header"}}

<main class="container-fluid">

<div class="row">
<div class="col-xs-12 col-sm-10 col-sm-offset-1 component" data-component="documentation">

<h1>Semesterprojekt Eventorganisation</h1>

<h2>von <strong>Gruppe 5</strong><br> Thomas Krieger, Marileen Stamer und Torsten Garding</h2>

<h3 id="inhalt"><em>Inhalt</em></h3>

<ol>
    <li>
        <a href="#einfuehrung" title="1">Einführung</a>
        <ol>
            <li>
                <a href="#beschreibung" title="1.1">Projektbeschreibung</a>
            </li>
            <li>
                <a href="#technologies" title="1.2">Verwendete Technologien</a>

                <ol>
                    <li><a title="1.2.1" href="#grunt">Grunt</a></li>
                    <li><a title="1.2.2" href="#less">Less / CSS</a></li>
                    <li><a title="1.2.3" href="#grid">Bootstrap Grid System</a></li>
                    <li><a title="1.2.4" href="#hbs">Handlebars / HTML</a></li>
                    <li><a title="1.2.5" href="#clientJS">Javascript Clientseitig</a></li>
                    <li><a title="1.2.6" href="#serverJS">Javascript Serverseitig (Express)</a></li>
                    <li><a title="1.2.7" href="#datepicker">(Bootstrap Datepicker)</a></li>
                    <li><a title="1.2.8" href="#mysql">MySQL</a></li>
                </ol>
            </li>
            <li>
                <a href="#ziel" title="1.3">Zielumgebung</a>
            </li>
        </ol>

    </li>

    <li>
        <a href="#entwicklung" title="2">Entwicklung</a>
    </li>
    <li>
        <a href="#implement" title="3">Implementierung</a>

        <ol>
            <li id="#bestandteile"><a href="#bestandteile" title="3.1">Bestandteile</a></li>
        </ol>
    </li>
    <li>
        <a href="#next" title="4">Nächste Schritte</a>

        <ol>
            <li id="#christmas"><a href="#christmas" title="4.1">Nächste Schritte bis Weihnachten</a></li>
            <li id="#january"><a href="#january" title="4.2">Nächste Schritte im Januar</a></li>
        </ol>
    </li>
</ol>

<h3 id="einfuehrung">1 - Einführung</h3>

<p>Als Semesteraufgabe im WS2015 soll im Modul Webprogrammierung eine Webanwendung zur selbstorganisierten
    Eventplanung entwickelt werden. System sowie Inhaltsgestaltung sind für die Studenten relativ frei
    wählbar.
</p>

<h3 id="beschreibung">1.1 - Projektbeschreibung</h3>

<p>Comeet stellt eine Anwendung dar, mit welcher registrierte Benutzer eigene Events/Veranstaltungen anlegen
    können. Dazu können neue Kontakte per E-Mail oder andere registrierte Benutzer direkt eingeladen werden. Die Benutzer können ebenfalls die
    Events ihrer Kontakte sehen, sowie ihre eigenen Events verwalten.
</p>
<ul>
    <li>Nutzer können sich registrieren</li>
    <li>Registrierte Nutzer können sich einloggen</li>
    <li>Eingeloggte Nutzer können:
        <ul><li>Events anlegen</li>
            <li>Events bearbeiten</li>
            <li>Ihr Profil bearbeiten</li>
            <li>Ihre Kontaktliste anzeigen und verwalten</li>
            <li>Freunde zu ihren Events einladen</li>
            <li>An Events zu denen sie eingelden sind, teilnehmen</li>
            <li>Ihren Teilnahmestatus jederzeit ändern</li>
            <li>Sich aktiv an der Planung beteiligen (Mitbringliste)</li>
        </ul>
    </li>
    <li>Per E-Mail eingeladene Kontakte können ihre Eventteilnahme bestätigen oder absagen</li>
</ul>

<a class="up" href="#inhalt">^ zum Inhalt</a>

<h3 id="technologies">1.2 - Verwendete Technologien</h3>

<p>Im Folgenden führen wir alle verwendeten Technologien auf.</p>

<h3 id="grunt">1.2.1 - Grunt</h3>

<p>Grunt ist ein "Task Runner" Tool, welches auf Node.js basiert.<br>
    Wir verwenden dieses Tool während der Entwicklung, da es die Arbeit am Projekt sehr erleichtert.<br>
    Wir verwenden die Module "connect" um einen lokalen Server zu starten, der die statischen Dateien
    ausliefert.<br>
    Das "watch" Modul "beobachtet" während der Entwicklung das komplette Verzeichnis und erzeugt einen live
    Reload im
    Browser. Wird nur am CSS etwas geändert, so wird auch nur die entsprechende CSS Datei neu geladen, ohne dass sich feswegen die
    ganze Seite neu lädt.<br>
    Des Weiteren werden die Module "less" und "compile handlebars" genutzt. Diese dienen zum kompilieren von less zu CSS und handlebars
    Templates zu HTML. Dadurch können wir im Baukasten-Prinzip entwickeln.</p>

<h3 id="less">1.2.2 - Less/CSS</h3>

<p>
    LESS ist ein Framework, welches die Fähigkeiten von CSS mit dynamischen Funktionen wie Variablen,
    Mixins, Operationen und Funktionen erweitert.
    LESS wird für die Entwicklung genutzt und von einem less-Compiler (den wir als Grunt Node Modul
    eingebunden haben) zu CSS kompiliert.
</p>

<h3 id="grid">1.2.3 - Bootstrap Grid System</h3>

<p>
    Da wir die Anwendung responsive machen wollen, haben wir das Gridsystem von Bootstrap eingesetzt um
    schneller starten zu können und nicht erst selbst erzeugen zu müssen.
    Das Gridsystem bringt Klassen für Spalteneinteilung und Breakpoints mit, wir nutzen ein fluid layout
    (volle Breite) und das Standard 12 Spalten Grid.

</p>

<h3 id="hbs">1.2.4 - Handlebars / HTML</h3>

<p>Handlebars ist eine Template Engine, die recht leicht zu verwenden ist. Wir verwenden weniger die
    eigentliche Templating Funktionen (Expressions, Helper ..), sondern hauptsächlich nur die Basis-
    Funtkionalität um für die einzelnen Bausteine der Anwendung einzelne Partials anzulegen, die man dann
    gegenseitig in anderen Templates inkludieren kann.</p>

<h3 id="clientJS">1.2.5 - Javascript Clientseitig</h3>

<p>Wir versuchen, frontendseitig das meiste mit CSS zu lösen, es ist Javascript notwendig für:</p>

<ul>
    <li>Das Layer (Öffnen und Schließen)</li>
    <li>Formularvalidierung bei der Registrierung und beim Anlegen eines neuen Events</li>
    <li>Teilweise zum Setzen von CSS Klassen für CSS Animationen</li>
    <li>Ajax Post requests zum Server</li>
</ul>

<h3 id="serverJS">1.2.6 - Javascript Serverseitig</h3>

<p>
    Da wir schon mit Node und dem Grunt Connect Modul arbeiten, haben wir beschlossen backendseitig doch
    kein PHP einzusetzen. Stattdessen nehmen wir einen Node.js Express Server, der die POST Requests abhandelt und mit der
    Datenbank kommuniziert, und gleichzeitig auch die statischen Inhalte ausliefert.<br>
    Diese Entscheidung hat evtl. einen Umbau zur Folge, sodass wir Grunt rauswerfen und auch die less und
    handlebars Dateien vom Express Server kompilieren lassen. Einen live reload müsste man auch auf diesem Wege hinbekommen.</br>
    - - - in ARBEIT - - -

</p>

<h3 id="datepicker">1.2.7 - Bootstrap Datepicker</h3>

<p>- - - in ARBEIT - - -</p>

<h3 id="mysql">1.2.8 - MySQL</h3>

<p>- - - in ARBEIT - - -</p>

<a class="up" href="#inhalt">^ zum Inhalt</a>

<h3 id="entwicklung">2 - Entwicklung</h3>

<p>Zu Beginn haben wir uns zusammengesetzt und den Zweck und die Zielgruppe für unsere Anwendung bestimmt. Anschließend haben wir uns Über die Funktionen und den Umfang geeinigt.
    Im weiteren Verlauf entstanden der Name und das Logo, während wir die ersten Entwürfe auf Papier anfertigten. Diese wurden später auf den Computer übertragen und dabei verfeinert.
    Als nächstes besprachen wir, mit welchen Technologien wir arbeiten wollen, und entschieden uns für die oben genannten. Das führte dazu, dass wir diese auf jedem genutzten Computer
    lauffähig machten und begannen, die ersten Bausteine für die einzeilnen Seiten der Plattform zu erstellen. Wir erstellten zu den .hbs Dateien die entsprechenden .less Dateien unter
    Zuhilfenahme des Grid Systems von Bootstrap. Im groben orientierten wir uns an den erstellten Entwürfen, stellten aber schnell fest, dass sie auf der fertigen Seite nicht wie geplant
    wirkten und änderten sie ab. Anschließend bauten wir die einzelnen .hbs Bausteine zu den Seiten unserer Website zusammen und erstellten die Navigation. Hinterher
    beschäftigten wir uns mit der Funktionalität der Formulare, Buttons, etc. - allerdings erstmal nur so weit, dass wir die Funktionalität optisch darstellen konnten. Bis zum
    jetzigen Zeitpunkt haben wir auf eine nötige Datenbank verzichtet. Wir haben uns auf die Elemente beschränkt, welche wir für die Präsentation für nötig halten. Die letzten
    zwei Wochen (je Mo und Do) haben mit eingehenden Tests der Seite und letzten Anpassungen für die Präsentation verbracht. (Stand 02.12.2015)</p>

<a class="up" href="#inhalt">^ zum Inhalt</a>

<h3 id="implement">3 - Implementierung</h3>

<h3 id="bestandteile">3.1 - Bestandteile</h3>

<P>Im Folgenden gehen wir genauer auf die einzelnen Teile unserer Anwendung ein und veranschaulichen diese.</P>

<h2><em>Header</em></h2>

<p>Es gibt zwei Versionen vom Header, eine mit dem Login und eine mit den User spezifischen Infos und Links.</p>

<div class="border">
    {{> "header"}}
</div>
<div class="border">
    {{> "header-logged-in"}}
</div>

<h2><em>Header: Logo</em></h2>

<p>Das Logo ist mit CSS gebaut, bestehend aus einem Stern, der aus 3 Elementen die durch Borders zu
    Dreiecken geformt
    und gedreht sind, das Element selbst, ein before und ein after Element, so entstehen 3 Dreiecke, die
    jeweils gedreht einen Stern ergeben.</p>

<p>Zweiter Bestandteil ist ein äußerer Kreis, der auch eine Border besitzt und durch 50% border-radius rund
    wird.
    Der Kreis erhält ein after Element, welches ebenfalls durch Borders zu einem Dreieick geformt ist.<br>
    Ein before Element in der Hintergrundfarbe wird dafür verwendet noch ein Stück von der Border des
    Kreises
    wegzuschneiden, damit es besser aussieht.</p>

<p>Zusätzlich enthält der Kreis eine Keyframe Animation, bestehend aus einer Rotation, die einmal
    durchläuft.</p>

<h2><em>Header: Slogan</em></h2>

<p>Der Slogan im Header erhält eine spezielle Webfont</p>

<h2><em>Header: Login-Bereich / User Anzeige</em></h2>

<p>Der Login ist ein normales Formular mit E-Mail und Passwort Feld, und einem zusätzlichen Button
    zum Registrieren</p>

<p>Die User Anzeige enthält den User Namen, ein Link auf seine Profildaten mit Font-Icon, sowie den Abmelde-
    Link</p>
<h2><em>Intro</em></h2>

<div class="border">
    {{> "intro"}}
</div>

<p>Das Intro besteht aus einer h1 und einer h2</p>
<h2><em>Slider</em></h2>

<div class="border">
    {{> "slider"}}
</div>

<p>Der Slider wird nur auf breiteren Bildschirmen angezeigt.<br>
    Er ist komplett in CSS gebaut. Die Mechanik funktioniert über Checkboxen, die auf das "checked" Flag
    reagieren.<br>
    Dann tritt eine Animation in Kraft. Es gibt eine kleine looping magic (less mixin) damit der Slider im
    Kreis läuft.</p>

<h2><em>Events Überblick (meine Events und Kontakte Events)</em></h2>

<div class="border">
    {{> "events-overview"}}
</div>

<p>Hier werden die eigenen und die Events der Kontakte angezeigt. Dies geschieht in zwei Spalten auf breiten Bildschirmen, auf mobilen
Geräten einspaltig. Das Besondere hierdran ist, dass von der Beschreibung die ersten drei Zeilen angezeigt werden und
wenn weiterer Text existiert, eine Auspunktung stattfindet. Dies kann nicht wie üblich über das text-overflow:ellipsis
realsiert werden. Das geht nämlich nur in einer Zeile.</p>

<a class="up" href="#inhalt">^ zum Inhalt</a>

<h3 id="next">4 - Nächste Schritte</h3>

<h3 id="christmas">4.1 - Nächste Schritte bis Weihnachten</h3>

<p>Bis Weihnachten werden wir an der Vervolständigung der Elementfuntionalität in Javascript arbeiten. Im Anschluss werden wir uns eine geeignete Datenbanklösung überlegen. Wenn dies die
    Zeit zulässt, befassen wir uns mit den ersten Umsetzungsmöglichkeiten der
    Datanbank für die Anwendung.</p>

<h3 id="january">4.2 - Nächste Schritte im Januar</h3>

<p>Im Januar planen wir die Implementierung eines Datepickers und einer Karte für die
    Ortsanzeige. Außerdem wird die Umsetzung der Anwendung mit einer funktionierenden Datenbank erarbeitet. </p></br>

<a href="assets/img/comeet-ER-Diagramm.png">Datenbankmodell</a>

<h2>Danke für die Aufmerksamkeit</h2>


</div>

</div>


<div class="row">
    {{> "footer"}}
</div>

</main>

{{> "page-end"}}

