
{{> "page-head"}}

{{> "header-logged-in"}}

{{> "intro"}}

<main  class="container-fluid">

    <div class="row">

        {{> "events-overview"}}

        {{> "aside-nav"}}
        {{> "friends"}}
        {{> "month"}}

    </div>

    <!--Footer-->
    {{> "footer"}}

</main>

{{> "page-end"}}

