
{{> "page-head"}}

{{> "header-logged-in"}}

<main  class="container-fluid">

    <div class="row">

        {{> "aside-nav"}}

        {{> "event-detail-contact"}}

        {{> "contacts"}}
        {{> "month"}}

    </div>

    <div class="row">
        {{> "footer"}}
    </div>

</main>

{{> "page-end"}}

