
{{> "page-head"}}

{{> "header-logged-in"}}

<main  class="container-fluid">

    <div class="row">

        {{> "event-detail"}}

        {{> "aside-nav"}}
        {{> "friends"}}

    </div>

    <div class="row">
        {{> "footer"}}
    </div>

</main>

{{> "page-end"}}

