
{{> "page-head"}}

{{> "header-logged-in"}}

{{> "intro"}}

<main  class="container-fluid">

    <div class="row">

        {{> "profile"}}

    </div>

    <div class="row">
        {{> "footer"}}
    </div>

</main>

{{> "page-end"}}

