
{{> "page-head"}}

{{> "header"}}

    <main  class="container-fluid">

    <div class="row">
        <div class="col-xs-12">

            {{> "kontakt"}}

        </div>
    </div>

    <div class="row">
        {{> "footer"}}
    </div>

</main>

{{> "page-end"}}

