
{{> "page-head"}}

{{> "header"}}

    <main  class="container-fluid">

    <div class="row">
        <div class="col-xs-12">

            {{> "intro"}}
            {{> "slider"}}

            <!--<h1>Überschrift 1</h1>-->
            <!--<h2>Überschrift 2</h2>-->
            <!--<h3>Überschrift 3</h3>-->
            <!--<p>normaler Text</p>-->
            <!--<a href="#">Links</a>-->
            <!--<br>-->
            <!--</div>-->
            <!--<div class="col-xs-12 col-sm-6">-->
            <!--<button>Buttons normal</button>-->
            <!--<br>-->
            <!--<button class="hover">Buttons im hover Zustand</button>-->
            <!--<br>-->
            <!--<span class="okay">Erfolgsmeldungen</span>-->
            <!--<br>-->
            <!--<span class="error">Fehlermeldungen</span>-->
            <!--<br>-->
            <!--<input type="radio" value="rb" id="rb1">-->
            <!--<br>-->
            <!--<label for="rb1">Radiobuttons</label>-->
        </div>
    </div>

    <div class="row">
        {{> "footer"}}
    </div>

</main>

{{> "page-end"}}

