
{{> "page-head"}}

{{> "header"}}

    <main  class="container-fluid">

    <div class="row">
        <div class="col-xs-12">

            {{!-- test2.headline}}
            {{#if test}}
                  blubber
            {{/if}}
            --}}

            {{> "intro"}}
            {{> "slider"}}
        </div>
    </div>

    <div class="row">
        {{> "footer" class="start"}}
    </div>

</main>

{{> "page-end"}}

