.component[data-component="profile"]
{

  .invite
  {
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 0px;
    display: block;
    width: 80%;
  }
  span
  {
    display: inline-block;
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    margin-top: 0px;
    padding: 5px 100px 5px 5px;
    font-family: arial;
    border-radius: 2px;
  }
  img
  {
    display: block;
    max-width: 200px;
    margin-bottom: 20px;
  }

  input {
    width: 50%;
  }

  button {
    width: 30%;
  }


  @speed: .5s;
  @easing: cubic-bezier(.4,1.3,.65,1); // ease-out

  .username-changed, .pw-change, .email-change {
    visibility: hidden;
    margin-left: -100%;

    -moz-transition: all @speed @easing;
    -o-transition: all @speed ease-out;
    -webkit-transition: all @speed @easing;
    transition: all @speed @easing;

    &.show {
      margin-left: 0;
      visibility: visible;
    }

  }

  button.confirm-change {
    -moz-transition: all @speed @easing;
    -o-transition: all @speed ease-out;
    -webkit-transition: all @speed @easing;
    transition: all @speed @easing;

    transform: translateX(270px);
  }

  .username-changed {
    height: 60px;
    line-height: 60px;
  }

  .frontlayer {
    z-index: 2;
  }

  .backlayer {
    z-index: 1;
  }
}



