.component[data-component="event-detail"] {

  min-height: 500px;

  .event {
    padding: 0 20px;

    .col-* {                            //todo
      margin-right: 10px;
    }
  }




  fieldset {
    margin: 20px 0;
    border: 1px solid #fff;
  }


}



