.component[data-component="new-event"]
{

  min-height: 500px;

  input, label, textarea
  {
    display: inline-block;
    border-radius: 2px;
    width: 51%;
  }

  input {
    margin-bottom: 10px;
  }

  button {
    display: block;
  }

  img
  {
    display: block;
    max-width: 200px;
    margin-bottom: 20px;
  }
}



