.component[data-component="profile"]
{

  min-height: 500px;

  .invite
  {
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 0px;

  }
  span
  {
    display: inline-block;
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    margin-top: 0px;
    padding: 5px 100px 5px 5px;
    font-family: arial;
    border-radius: 2px;
  }
  img
  {
    display: block;
    max-width: 200px;
    margin-bottom: 20px;
  }
}



