<div class="col-xs-12 component {{class}}" data-component="footer">

    <div class="col-xs-12 col-sm-3">
    <a href="#">Impressum</a>
    <a href="#">Kontakt</a>
    <a href="#">Datenschutz</a>
    </div>
    <div class="col-xs-12 col-sm-3">
    <a href="#" class="arrow down">Down</a>
    <a href="#">AGB</a>
    <a class="highlight" href="00_documentation.html">Dokumentation</a>
    </div>
    <div class="col-xs-12 col-sm-3">
        <a href="#">noch mehr Links</a>
        <a href="#">für vierspaltigen Footer</a>
    </div>
    <div class="col-xs-12 col-sm-3">
        <a href="#">Facebook Ipsum</a>
        <a href="#">Und so weiter</a>
        <a href="#">Und so weiter</a>
    </div>
</div>