<div class="col-xs-12 col-sm-3 col-md-2 component" data-component="month">
    <div class="inner">
        <img src="assets/img/calendar-november.jpg" />
    </div>
    <div class="inner">
        <img src="assets/img/calendar-dezember.jpg" />
    </div>
</div>