<div class="col-xs-12 col-sm-offset-1 col-sm-8 col-md-9 component" data-component="profile">
    <h1>Profil</h1>
    <div class="col-xs-12 col-sm-3 frontlayer">
        <label>Benutzername</label>
        <input type="text" name="username" id="username" value="Gruppe5" required>
        <button type="submit" id="username-change">ändern</button>
        <label>Passwort</label>
        <input type="password" name="passwort" id="passwort" value="*****" required>
        <button type="submit" id="pw-change">ändern</button>
        <label>E-Mail Adresse</label>
        <input type="email" name="email" id="email" value="muster@web.de" required>
        <button type="submit" id="email-change">ändern</button>
        <label>Anzahl meiner Events</label>
        <span> 7 Events </span>
        <button class="invite" type="submit">Freunde zu Comeet einladen</button>
    </div>

    <div class="col-xs-12 col-sm-3 backlayer">
        <label class="username-changed">Du heisst jetzt XXX</label>

        <div class="pw-change">
            <label>Passwort wiederholen</label>
            <input type="password" name="passwort" id="passwort" value="" required>
        </div>

        <div class="email-change">
            <label>E-Mail Adresse wiederholen</label>
            <input type="email" name="email" id="email" value="" required>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <label>Profilbild</label>

        <img src="assets/img/profilbild.jpg" alt="Profilbild">
        <input type="file" id="profilbild">

    </div>
</div>
