@import "grid.less";
@import "colors.less";
@import "fonts.less";


@import "components/header.less";
@import "components/intro.less";
@import "components/slider.less";
@import "components/friends.less";
@import "components/register.less";
@import "components/events-overview.less";
@import "components/aside-nav.less";
@import "components/month.less";
@import "components/event-detail.less";
@import "components/profile.less";
@import "components/footer.less";


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: @bgcolor;
}

h1, h2, h3, a, p, li, span, label, legend, button {
  color: #ffffff;
  font-family: coconLight;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 30px;
}

a {
  display: block;
  color: #fff;
  text-decoration: underline;

  &:active, &:hover {
    color: @baseYellow;

  }
}

button, .button {
  background: @button-bg;
  border: none;
  padding: 10px;
  margin-bottom: 5px;
  color: @button-text;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;

  &:hover, &.hover, &:active, &visited {
    background-color: @button-bg-hover;
    text-decoration: none;
  }
}

